<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/css/style.css")" rel="stylesheet"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFBe5usE8s_lOChFGr6Zxqe8viKhYnAPI"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
